<div class="container">

  <h2 class="mt-4 status w-100">Your bookings</h2>
  <% @bookings.each do |booking| %>
    <div class="notif-link">
    <%= link_to booking_path(booking) do %>
      <div class="notification">
        <%= cl_image_tag booking.cat.photo, class: 'avatar' %>
        <div class="notification-content">
          <p><small>
            From <%= booking.starting_date %> to <%= booking.ending_date %>
          </small></p>
          <h2><%= booking.cat.name %>
          <% if booking.cat.gender == 'Male' %>
            <i class="fas fa-mars"></i>
            <% else %>
            <i class="fas fa-venus"></i>
          <% end %>
          </h2>
        </div>
        <div class="notification-actions">
          <h3><small><%= booking.status %></small></h3>
        </div>
        <h2 class="ml-5">Total: <%= booking.total_price %>€</small></h2>
      </div>
    <% end %>
    </div>
  <% end %>

  <h2 class="mt-4 w-100 status accepted">Booking accepted</h2>
  <% @accepted_booking.each do |booking| %>
  <div class="notif-link">
  <%= link_to booking_path(booking) do %>
    <div class="notification">
      <%= cl_image_tag booking.cat.photo, class: 'avatar' %>
      <div class="notification-content">
        <p><small>
          From <%= booking.starting_date %> to <%= booking.ending_date %>
        </small></p>
        <h2><%= booking.cat.name %>
        <% if booking.cat.gender == 'Male' %>
          <i class="fas fa-mars"></i>
          <% else %>
          <i class="fas fa-venus"></i>
        <% end %>
        </h2>
      </div>
      <div class="notification-actions">
        <h3><small><%= booking.status %></small></h3>
      </div>
        <h2 class="ml-5">Total: <%= booking.total_price %>€</small></h2>
      </div>
    <% end %>
  <% end %>

  <h2 class="mt-4 w-100 status pending">Booking pending</h2>
  <% @bookings_for_cat_owner.each do |booking| %>
  <div class="notif-link">
  <%= link_to booking_path(booking) do %>
    <div class="notification">
      <%= cl_image_tag booking.cat.photo, class: 'avatar' %>
      <div class="notification-content">
        <p><small>
          From <%= booking.starting_date %> to <%= booking.ending_date %>
        </small></p>
        <h2><%= booking.cat.name %>
        <% if booking.cat.gender == 'Male' %>
          <i class="fas fa-mars"></i>
          <% else %>
          <i class="fas fa-venus"></i>
        <% end %>
        </h2>
      </div>
      <div class="notification-actions">
        <h3><small><%= booking.status %></small></h3>
      </div>
        <h2 class="ml-5">Total: <%= booking.total_price %>€</small></h2>
      </div>
    <% end %>
  <% end %>

  <h2 class="mt-4 w-100 status refused">Booking refused</h2>
  <% @refused_booking.each do |booking| %>
  <div class="notif-link">
  <%= link_to booking_path(booking) do %>
    <div class="notification">
      <%= cl_image_tag booking.cat.photo, class: 'avatar' %>
      <div class="notification-content">
        <p><small>
          From <%= booking.starting_date %> to <%= booking.ending_date %>
        </small></p>
        <h2><%= booking.cat.name %>
        <% if booking.cat.gender == 'Male' %>
          <i class="fas fa-mars"></i>
          <% else %>
          <i class="fas fa-venus"></i>
        <% end %>
        </h2>
      </div>
      <div class="notification-actions">
        <h3><small><%= booking.status %></small></h3>
      </div>
        <h2 class="ml-5">Total: <%= booking.total_price %>€</small></h2>
      </div>
    <% end %>
  <% end %>

</div>
