<div class="container">
  <h1>Enjoy <%= @cat.name %>'s company</h1>
  <%= simple_form_for [@cat, @booking] do |f| %>
    <%= f.input :starting_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :ending_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit "Submit reservation", class: "btn btn-dark" %>
  <% end %>
</div>
