<div class="container">
  <%= cl_image_tag @booking.cat.photo, class:"d-block w-100 image-cat" %>

  <div class="d-flex justify-content-between align-items-end">
    <h1>Booking of <%= @booking.cat.name %> <i class="fas fa-cat"></i></h1>
    <%= link_to 'Back', bookings_path, class:'btn btn-dark' %>
  </div>
  <hr>

  <div class="d-flex justify-content-between align-items-stretch mb-4">
    <div class="d-flex flex-column">

      <% if @booking.status == "accepted"%>
        <p class="status accepted">Status <strong><%= @booking.status %></strong></p>
      <% elsif @booking.status == "refused" %>
        <p class="status refused">Status <strong><%= @booking.status %></strong></p>
      <% else %>
        <p class="status pending">Status <strong><%= @booking.status %></strong></p>
      <% end %>

      <p><strong><ins>From <%= @booking.starting_date %> to <%= @booking.ending_date %></ins></strong> <br>
      <em>
        <% if @booking.cat.breed == 'Male' %>
          <i class="fas fa-mars"></i>
        <% else %>
          <i class="fas fa-venus"></i>
        <% end %>
        <%= @booking.cat.breed %> <br>
        <%= @booking.cat.address %> - <%= @booking.cat.age %> years old
      </em></p>

      <%= link_to cat_path(@booking.cat), class:'btn btn-outline-dark mt-3 w-50' do %>
        <i class="fas fa-paw"></i> <%= @booking.cat.name %>
      <% end %>
      <%= link_to user_path(User.find(@booking.cat.user_id)), class:'btn btn-outline-dark mt-3 w-50' do %>
        <i class="fas fa-user"></i> <%= User.find(@booking.cat.user_id).first_name %>
      <% end %>
    </div>

    <div class="d-flex align-items-end">
      <div class="d-flex flex-column card-infos">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div><%= @booking.cat.price_per_day %>€ x <%= (@booking.ending_date - @booking.starting_date).to_i %> days</div>
            <div><%=  sprintf('%.2f', (@booking.cat.price_per_day * (@booking.ending_date - @booking.starting_date)).to_i) %>€</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>Service fee</div>
            <div><%= sprintf('%.2f', @booking.cat.price_per_day * 0.05) %>€</div>
        </div>
        <hr class="m-1 mt-4">
        <h2 class="px-4">Total: <%= sprintf('%.2f', @booking.total_price + @booking.cat.price_per_day * 0.05) %>€</h2>
      </div>

        <div class="text-center mt-4">
          <% if current_user.id != @booking.cat.user_id %>

            <%= link_to "Chat with #{User.find(@booking.cat.user_id).first_name}", chat_rooms_path, method:'post', class:'btn btn-outline-dark ml-3' %>
            <%= link_to 'Cancel this booking', booking_path(@booking), method:'delete', class:'btn btn-outline-danger ml-3',
            data: { confirm: 'Are you sure you want to cancel this booking?' } %>
          <% elsif current_user.id == @booking.cat.user_id && @booking.status == "pending" %>
            <%= link_to 'Accept', accept_booking_path(@booking), method:'patch', class:'btn btn-primary ml-3' %>
            <%= link_to 'Refuse', refuse_booking_path(@booking), method:'patch', class:'btn btn-dark ml-3' %>
          <% elsif current_user.id == @booking.cat.user_id && @booking.status == "accepted" %>
            <%= link_to 'Cancel this booking', booking_path(@booking), method:'delete', class:'btn btn-outline-danger ml-3',
            data: { confirm: 'Are you sure you want to cancel this booking?' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
