<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1440918/pexels-photo-1440918.jpeg?cs=srgb&dl=adorable-animal-cat-1440918.jpg&fm=jpg');">

  <div class="container d-flex justify-content-around">
    <div>
      <h1 class="mb-4">Rent my cat</h1>
      <p>Cure your loneliness with thousands of <strong>beautiful cats</strong> around you and become awkward</p>
    </div>
    <hr>
    <hr>

  <div class="form-group card-form">
    <%= simple_form_for :query, url: cats_path, method: "GET" do |f| %>
      <%= f.input :address, :label => "Where do you want to rent a cat ?" %>
      <%= f.input :starting_date, :as => :string, :start_year => Date.today.year, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ending_date, :as => :string, :start_year => Date.today.year, required: false, input_html: {class: "datepicker"} %>
      <%= f.submit "Search", class: "btn btn-dark px-4" %>
    <% end %>
  </div>

</div>
