<div class="container">
  <div class="d-flex justify-content-around align-items-end mt-4">
    <!-- @user.avatar -->
    <%= cl_image_tag 'https://avatars3.githubusercontent.com/u/28786869?v=4', class:"avatar-large" %>

    <ul class="list-unstyled">
      <li><strong>First name</strong> <%= @user.first_name %></li>
      <li><strong>Last name</strong> <%= @user.last_name %></li>
      <li><strong>Address</strong> <%= @user.address %></li>
      <li><strong>Age</strong> <%= @user.age %></li>
      <li><strong>Email</strong> <%= @user.email %></li>
    </ul>
  </div>

  <h1 class="mt-4">Your cats</h1>
  <div class="row">

    <% @cats.each do |cat| %>
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card-trip mb-4">
          <%= cl_image_tag cat.photo %>
            <div class="card-trip-infos">

              <div>
                <%= link_to cat_path(cat) do %>
                  <h2><%= cat.name %></h2>
                <% end %>
                <p>
                  <%= cat.address %> - <%= cat.age %> years old<hr>
                  <%= cat.description %>
                </p>
              </div>

              <h3 class="card-trip-pricing"><%= cat.price_per_day %>€</h3>
            </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
