<div class="container">
  <h1>Find the cats around you</h1>
  <div class="row">

    <% @cats.each do |cat| %>
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card-trip mb-4">
          <%= cl_image_tag cat.photo %>
            <div class="card-trip-infos">

              <div>
                <%= link_to user_cats_path(cat) do %>
                  <h2><%= cat.name %></h2>
                <% end %>
                <p>
                  <%= cat.address %> - <%= cat.age %> years old<hr>
                  <%= cat.description %>
                </p>
              </div>

              <h3 class="card-trip-pricing"><%= cat.price_per_day %>€</h3>
            </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
