<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner carousel-cat" >
    <div class="carousel-item active">
      <%= cl_image_tag @cat.photo, class:"d-block w-100" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container mt-4">
  <h1>Welcome to <%= @cat.name %>'s page <i class="fas fa-cat"></i></h1>

  <div class="d-flex justify-content-between align-items-start">
    <div>
      <p><em>
      <% if @cat.breed == 'Male' %>
        <i class="fas fa-mars"></i>
      <% else %>
        <i class="fas fa-venus"></i>
      <% end %>
      <%= @cat.breed %> <br>
      <%= @cat.address %> - <%= @cat.age %> years old <br>
    </em></p>
    </div>
    <div class="d-flex align-items-end">
      <h2><%= @cat.price_per_day %>€ <small>per day</small></h2>
      <% if current_user.nil? || current_user.id != @cat.user_id %>
        <%= link_to 'Book this cat', new_cat_booking_path(@cat), class:'btn btn-dark ml-3' %>
      <% else %>
        <%= link_to 'Edit your cat', edit_cat_path(@cat), class:'btn btn-dark ml-3' %>
      <% end %>
    </div>
  </div>
  <hr>

  <p><%= @cat.description %></p>
</div>
