<div class="container">
  <%= cl_image_tag @cat.photo, class:"d-block w-100 image-cat" %>

  <h1>Welcome to <%= @cat.name %>'s page <i class="fas fa-cat"></i></h1>

  <div class="d-flex justify-content-between align-items-end">
    <div>
      <p><em>
      <% if @cat.breed == 'Male' %>
        <i class="fas fa-mars"></i>
      <% else %>
        <i class="fas fa-venus"></i>
      <% end %>
      <%= @cat.breed %> - <%= @cat.age %> years old <br>
      <%= @cat.address %></em> <br>

      <%= link_to user_path(User.find(@cat.user_id)), class:'btn btn-outline-dark mt-3' do %>
        <i class="fas fa-user"></i> <%= User.find(@cat.user_id).first_name %>'s profile
      <% end %>
    </p>
    </div>
    <div class="d-flex align-items-end">
      <h2><%= @cat.price_per_day %>€ <small>per day</small></h2>
      <% if current_user.nil? || current_user.id != @cat.user_id %>
        <%= link_to 'Book this cat', new_cat_booking_path(@cat), class:'btn btn-dark ml-3' %>
        <%= link_to 'Review this cat', cat_path(@cat, anchor: 'review'), class:'btn btn-outline-dark ml-3' %>
      <% else %>
        <%= link_to 'Edit your cat', edit_cat_path(@cat), class:'btn btn-dark ml-3' %>
      <% end %>
    </div>
  </div>
  <hr>

  <p><%= @cat.description %></p>

  <hr>

  <% unless current_user.nil? || current_user.id == @cat.user_id %>
    <div id="review" class="card-infos mt-5">
      <h3>Review this cat</h3>
      <%= render 'reviews/form', cat: @cat, review: @review %>
    </div>
  <% end %>

  <div id="reviews" class="d-flex flex-column-reverse">
    <% if @cat.reviews.blank? %>
      <p class="text-center mt-3 font-italic">Be the first to leave a review for <%= @cat.name %>...</p>
    <% else %>
      <% Review.where("cat_id = ?", @cat.id).each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
  </div>
</div>
