<div class="container">
  <h2 class="mt-4">Give a review to <%= @cat.name %> <i class="fas fa-cat"></i></h2>
  <%= simple_form_for [@cat, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :rating %>
    <%= f.submit "Submit", class: "btn btn-dark" %>
    <%= link_to "Back to #{@cat.name}", cat_path(@cat), class: "btn btn-outline-dark" %>
  <% end %>
</div>

